{% extends "itsme/base.html" %}

{% load itsme_extras %}

{% block body_class %}index{% endblock %}

{% block page_title %}Adam Cooke{% endblock %}

{% block page_description %}I am a third year Computer Science student attending Georgia Tech. I'm a developer, an aspiring coach, 
and an avid traveler.{% endblock %}

{% block main %}
<div class="row heading-trick">
	<div class="span10 offset1 heading">
		<h1>About</h1>
		<h3>
			I am a third year Computer Science student attending Georgia Tech. 
		</h3>
		<h3>
			I'm a developer, an aspiring coach, and an avid traveler.
		</h3>
	</div>
</div>
<section class="row">
	<article id="content" class="span10 offset1">
		{{ resume|safe|default:"<p>Here must be information about me.</p>" }}
		<img src="http://www.iamadamcooke.com/media/uploads/images/1/2013/07/pdficon_large.png"/><a href="http://www.iamadamcooke.com/static/itsme/AdamCooke_Resume.pdf" target="_blank">Download My Resume</a>
	</article>
</section>
{% endblock %}
{% block footer %}
<div class="span10 offset1 social-media">
	{% include "itsme/social.html" with hide_title="True" %}
</div>
{% endblock %}

